/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-image: url(/assets/img/sfondo.png);
  background-repeat: repeat;
  padding: 20px;
}
/* HEADER */
img {
  width: 250px;
  margin-top: 20px;
}
.logomenu {
  padding-bottom: 1em;
  text-align: center;
  color: white;
  width: auto;
  background-color: #017188;
  box-shadow: 2px 2px 10px black;
  background: linear-gradient(180deg, rgba(3, 213, 255, 1) 0%, rgba(32, 122, 140, 1) 50%, rgba(2, 67, 82, 1) 100%);
}
.title {
  font-size: large;
  padding: 10px;
}
.menulist {
  color: white;
  font-size: 1.2em;
}
li {
  margin-bottom: 0.3rem;
}

/* MAIN */
main {
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px black;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 50px;
}
.autor {
  color: gray;
  font-size: 1rem;
}
p {
  margin-bottom: 2rem;
}

/* TABELLE */
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul,
ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
caption {
  font-weight: bold;
  margin-bottom: 1rem;
}
table {
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: #5069b3;
}
th {
  background-color: #5069b3;
  color: white;
  align-content: center;
  border-left: 1px solid white;
  height: 65px;
  width: 33%;
}
tr {
  font: size 0.9em;
  padding: 2rem;
}
td {
  align-content: center;
  height: 3rem;
  border-left: 1px solid white;
}
.grey td {
  background-color: #f1f1f1;
}
/* FORM */
.video {
  width: 100%;
  border-radius: 20px;
  height: 269px;
}
.videobox {
  padding-bottom: 30px;
}
.news {
  background-color: #e2e1e2;
  text-align: center;
  height: 300px;
}
.news h3 {
  padding-block: 39px;
  font-size: 2em;
}
.news p {
  font-size: 1.3em;
  text-align: left;
  line-height: 1.5;
  padding-left: 1em;
}
.news button {
  background-color: #4868c1;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  background-color: white;
  box-shadow: 2px 2px 10px black;
}
